<link rel="import" href="../../html/polymer.html">

<link rel="import" href="chrome://resources/polymer/v1_0/paper-behaviors/paper-ripple-behavior.html">
<link rel="import" href="../shared_vars_css.html">
<link rel="import" href="foo.html">

<dom-module id="cr-test-foo">
  <template>
    <style>
      div {
        font-size: 2rem;
      }
    </style>
    <div>Hello world</div>
  </template>
  <script src="dom_module.js"></script>
</dom-module>
