<link rel="import" href="../html/polymer.html">

<link rel="import" href="some_other_style.html">

<dom-module id="cr-foo-style">
  <template>
    <style include="some-other-style">
      :host {
        margin: 0;
      }
    </style>
  </template>
</dom-module>
